@model FurnitureStore.Models.Pagamento

@{
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>Exclusão</h2>

<h3>Deseja Excluir esta Forma de Pagamento?</h3>
<fieldset>
    <legend>Forma de Pagamento</legend>

    <div class="display-label"><strong>Forma de Pagamento: </strong>@Html.DisplayFor(model => model.formaPagamento)</div>
</fieldset>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
